<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto">
         <!-- Pantalla MainActivity como launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad principal que se muestra luego del splash -->
        <activity android:name=".homeactivity" />
        <activity
            android:name=".loginactivity"
            android:exported="false" />
        <activity
            android:name=".registrateactivity"
            android:exported="false" />
        <activity
            android:name=".alertaactivity"
            android:exported="false" />
        <activity
            android:name=".actity_nivel1"
            android:exported="false" />
        <activity
            android:name=".activity_nivel2"
            android:exported="false" />
        <activity
            android:name=".activity_final"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>